body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #fff;
}

.sidebar {
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
    padding-top: 60px;
}

.sidebar a {
    display: block;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

#main {
  background-color: #fff;
  min-height: 100vh;
}

#container {
    width: 80%;
    margin: 50px auto;
    justify-self: center;
    text-align: center;
}

h1 {
    color: #1F2A44;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #ED145B;
    color: #FFFFFF;
    border: none;
}

button:hover {
    background-color: #EFB661;
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: center;
    display: none;
}