body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  background-position: 60% center;
  height: 550px;
}

.sidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  padding-top: 60px;
}

.sidebar a {
  display: block;
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

#main {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 40%;
}

#container {
  margin-top: 55px;
  width: 60%;
  height: 450px;
  border-radius: 20px;
  margin-left: 20%;
  justify-self: center;
  text-align: center;
  background-color: rgb(147, 211, 112);
  opacity: 0.8;
}

#titulo-box {
  width: 58%;
  margin-top: 25px;
  margin-left: 460px;
  border-radius: 20px;
  background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}

.titulo-box h1 {
  font-size: 40px;
  margin: 0;
  background-image: url("https://videos.openai.com/az/vg-assets/task_01kbgpsgckfzkathcce0m8pwjq%2F1764718688_img_0.webp?se=2025-12-08T00%3A00%3A00Z&sp=r&sv=2024-08-04&sr=b&skoid=cfbc986b-d2bc-4088-8b71-4f962129715b&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-12-02T01%3A09%3A13Z&ske=2025-12-09T01%3A14%3A13Z&sks=b&skv=2024-08-04&sig=/aY6YCPemUUz4DxYx804mNmpsZYcBOBtAQZiOFBgjE8%3D&ac=oaivgprodscus2");
}

h1 {
  color: #1f2a44;
  font-family: "Times New Roman", Times, serif;
}

textarea[type="text"] {
  background-color: #ffffff;
  opacity: 1;
  margin-top: 100px;
  padding: 8px;
  font-size: 16px;
  border-radius: 10px;
  width: 800px;
  height: 180px;
}

select,
button {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: #ed145b;
  color: #ffffff;
  border: none;
}

button:hover {
  background-color: #940404;
}

#resposta {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #d0d3d4;
  border: 1px solid #63666a;
  text-align: center;
  display: none;
}
