body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #ecebeb;
}

h1 {
color: #000;
height: 20px;
width: 400px;
margin-left: 300px;
}
/* ====== SIDEBAR ====== */
.sidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  background-color: #4b1c6b;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar a {
  display: block;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* ====== DASHBOARD GRID LAYOUT ====== */
.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "chart sensor kpi"
    "ideal ideal fases"
    "qtd historico historico";
  gap: 30px;
  margin-left: 280px; 
  padding: 20px;
}

.qtdalertas       { grid-area: qtd; }
.fasesrisco       { grid-area: fases; }
.ideal-info       { grid-area: ideal; }
.sensor-card      { grid-area: sensor; }
.kpi              { grid-area: kpi; }
.monitoring-Chart { grid-area: chart; }
.historico        { grid-area: historico; }

/* ====== SENSOR ====== */
.sensor-card {
  border: 3px solid rgb(0, 0, 0);
  background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #ffffff;
  border-radius: 10px;
  padding: 8px 16px;
  padding-top: 45px;
  justify-content: center;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.legend {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 6px;
}

.legend .item {
  display: flex;
  align-items: center;
  
  gap: 6px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.dot.ideal { background-color: #2db100; }
.dot.moderado { background-color: #b0b523; }
.dot.critico { background-color: #b42929; }

.values {
  display: flex;
  height: 80px;
}

.temp,
.umi {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: #111;
  border: 1px solid #000000 ;
}

.temp { background-color: #3db83d; }
.umi { background-color: #a6a923; }

.metricas {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

/* ====== MÉDIA 24H ====== */
.kpi {
  border: 3px solid #9d9d9d;
   background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.kpi-header {
  text-align: center;
  font-weight: 600;
}

.kpi-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

/* ====== HISTÓRICO ====== */
.historico {
  border: 3px solid gray;
  background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.historico-header {

  text-align: center;
  color: white;
  padding: 10px;
  border-bottom: 3px solid black;
}

.historico-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  padding: 8px;
  font-weight: 600;
}

.historico-row.title {
  background-color: #a5a5a5;
  font-weight: 700;
}

.historico-row.dados {
  background-color: #fff;
}

.historico-footer {
  text-align: center;
  font-weight: bold;
  padding: 8px;
  color: white;
  cursor: pointer;
}

/* ====== FASES DE RISCO ====== */
.fasesrisco {
  border: 3px solid #9d9d9d;
   background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
}

.fasesrisco h2 {
  text-align: center;
  margin-bottom: 10px;
}

.fases {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  padding: 10px;
}

.qtdalertas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #ffffff;
  border-radius: 8px;
  padding: 10px;
}

/* ====== IDEAL INFO ====== */
.ideal-info {
  border: 3px solid #9d9d9d;
   background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
}

.ideal-info h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.fases2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  font-weight: 700;
  padding: 10px;
}

.fases2 div {
  text-align: center;
}

/* ====== CHART ====== */
canvas {
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 8px;
  width: 100%;
  height: auto;
}
