body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #4b1c6b;

}

.logo img {
    display: flex;
    height: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    }

nav ul a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.login-btn {
    background: #fff;
    color: #4b1c6b;
    padding: 6px 16px;
    width: 150px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#ContatoH:hover {
  transform: scale(1.1);
}

#DashboradsH:hover {
  transform: scale(1.1);
}

#SimuladorFinanceiroH:hover {
  transform: scale(1.1);
}

#Login:hover {
  transform: scale(1.1);
}

/* mvv */

span {
    display: flex;
    color: #4b1c6b;
    font-weight: bold;
    font-size: 60px;
    padding-left: 45px;
    padding-top: 25px;
    
}

.texto_card {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 45px;
    font-size: 35px;
    color: black;
    text-align: justify;
}

hr{
 border-color: #4b1c6b; 
}