body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #4b1c6b;

}

.logo img {
    display: flex;
    height: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    }

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.login-btn {
    background: #fff;
    color: #4b1c6b;
    padding: 6px 16px;
    width: 150px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.banner {
    background: url(imagens_uvas/uva_bandeija.png);
    background-size: cover;
    background-position: center;
    height: 750px;
}


.container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 700px;
    background: #4a772f;
    justify-content: space-evenly;
}

.container1 span {
    color: #fff;
    font-weight: bold;
    font-size: 80px;
    padding-left: 60px;
}

.container1 .texto {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
    font-size: 50px;
    gap: 30px;
    color: #fff;
    text-align: justify;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 700px;
    background: #fff;
    justify-content: space-evenly;
}

.container2 span {
    color: #4a772f;
    font-weight: bold;
    font-size: 80px;
    padding-left: 60px;
}

.container2 .texto {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 40px;
    font-size: 50px;
    gap: 30px;
    text-align: justify;
}

.container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 700px;
    background: #4b1c6b;
    justify-content: space-evenly;
}

.container3 .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 30px;
    width: 420px;
    height: 420px;
    align-items: center;
}

.card span {
    color: #4b1c6b;
    font-weight: bold;
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
}

.card .texto_card {
    font-size: 25px;
    text-align: justify;
    padding: 10px;
}
.card .dash_img {
    display: flex;
    width: 90px;
    height: 90px;
}

.card .alertas_img {
    display: flex;
    width: 80px;
    height: 80px;
    padding-top: 10px;
}

.card .calc_img {
    display: flex;
    width: 80px;
    height: 80px;
    padding-top: 10px;
}

.ir-btn {
    background: #fff;
    color: #4b1c6b;
    margin-top: 40px;
    width: 100px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

footer {
    background-color: #4a772f;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

body{
    margin:0;
    font-family: sans-serif;
}

/* HEADER INICIO */

.header{
    display: flex;
    color: white;
    flex-direction: column;
    padding: 30px 0;
    background-color: #7b4b94;
    background-size: 500px;
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    width: 500px;
    justify-self: end;

}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.agora a{
    color: white;
    font-weight: bold;
}

.titulo{
    background-image: url"1.png";
}

/* HEADER FIM*/




