body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #4b1c6b;

}

.logo img {
    display: flex;
    height: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    }

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.login-btn {
    background: #fff;
    color: #4b1c6b;
    padding: 6px 16px;
    width: 200px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
/* LOGIN INICIO*/

.login{
    display: flex;
    background-color: #f2f4f5;
    background-size: cover;
    height: 740px;
}

.login .container{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 150px;
    height: 100%;
    }

.login .container .card_card_login{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    padding:  20px 10px;
    background-color: #4b1c6b;
    border-radius: 30px;
    width: 380px;
    scale: 1.25;
}

.formulario {
    display: flex;
    flex-direction: column;
    height: 325px;
}

.login .container .card_card_login .Login-titulo{
    display: flex;
    color:white;
    font-size: 30px;
    margin-bottom: 40px;
}


.login .container .card_card_login .formulario .campo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    width: 400px;
    position: relative;
}

.login .container .card_card_login .formulario .campo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    width: 400px;
    position: relative;
}


.login .container .card_card_login .formulario .campo input{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 350px;
    height: 60px;
    border-radius:8px;
    border-color: white;
    border-style: solid;
    margin-bottom: 20px;
    text-align: center;
}

.login .container .card_card_login .formulario .campo2 input{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 350px;
    height: 60px;
    border-radius:8px;
    border-color: white;
    border-style: solid;
    text-align: center;
}

.campo i {
    color: #4f6d3c;
    position: absolute;
    width: 120px;
    font-size: 30px;
    padding-bottom: 20px;
}

.campo2 i {
    color: #4f6d3c;
    position: absolute;
    width: 120px;
    font-size: 30px;
}
input::placeholder {
  color: #4f6d3c;
  font-size: 20px;
  font-weight:bold;
  align-self: center;
  text-align: left;
  padding-left: 80px;
}

.login .container .card_card_login .Esqueceu{
    display: flex;
    color:white;
    font-size: 18px;
    align-self: end;
    margin-right: 25px;
}

.login .container .card_card_login .formulario button{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 325px;
    height: 60px;
    border-radius: 5px;
    border-color: #a3c86e;
    border-style: solid;
    background-color: #a3c86e;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.login .container .card_card_login .Cadastro a{
    display: flex;
    flex-direction: column;
    color:white;
    font-size: 18px;
    align-items: center;
    text-decoration: none;
}