
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
}

.logo img {
    display: flex;
    height: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    }

nav ul a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.login-btn {
    background: #fff;
    color: #4b1c6b;
    padding: 6px 16px;
    width: 150px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#ContatoH:hover,
#DashboardsH:hover,
#SimuladorFinanceiroH:hover,
#Login:hover {
  transform: scale(1.1);
}


.banner {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
              url(../assets/uva_bandeija.png);
  background-size: cover;
  background-position: center;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  color: #fff;
}


.banner span {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.2;
}


.banner .texto {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  max-width: 1400px;
}

.container-ctrlv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  color: #fff;
  background: linear-gradient(90deg, #264e0e 0%, #70b048 100%);
  text-align: center;
}

.container-ctrlv span {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-ctrlv .texto {
  max-width: 1200px;
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;
}


.container-solucao {
  position: relative;
  height:550px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-solucao img {
  max-width: 150%;  
  max-height: 150%;  
  transition: opacity 1s ease-in-out, transform 0.3s ease;
  opacity: 1;
  transform: scale(0.9);
}

.container-solucao button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  color: black;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
}

#anterior {
  left: 20px;
}

#proximo {
  right: 20px;
}

.container-servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #fff;
  text-align: center;
}

.container-servicos .titulo-servicos {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-servicos .texto-servicos {
  font-size: 24px;
  line-height: 1.5;
  max-width: 1200px;
  margin-bottom: 50px;
}

.container-servicos .cards-servicos {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.container-servicos .card {
  background-color: #fff;
  color: black;
}

.container-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background: linear-gradient(90deg, #264e0e 0%, #70b048 100%);
  color: #fff;
  text-align: center;
}

.container-sobre .titulo-sobre {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-sobre .texto-sobre {
  font-size: 24px;
  line-height: 1.5;
  max-width: 1200px;
  margin-bottom: 50px;
}

.container-sobre .cards-sobre {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.container-sobre .card {
  background-color: #fff;
  color: black;
}

.container-sobre .card:hover {
  transform: scale(1.05);
}

.card {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  width: 280px;
  height: 280px;
  text-align: center;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 80px;
  margin-bottom: 15px;
}

.card span {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.texto_card {
  font-size: 16px;
  line-height: 1.4;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, #ffffff, #f1f6f5);
    color: #4a772f;
    text-align: start;
    height: 350px;
    padding-left: 50px;

}

footer .logo img {
    display: flex;
    height: 80px;
    padding-bottom: 20px;
}


.texto_footer a {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    text-decoration: none;
    color: #4a772f;
    font-weight: bold;
}

.texto_footer a:hover {
    color: #4b1c6b;
}
