body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
}

.logo img {
    display: flex;
    height: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    }

nav ul a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.login-btn {
    background: #fff;
    color: #4b1c6b;
    padding: 6px 16px;
    width: 150px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#ContatoH:hover,
#DashboardsH:hover,
#SimuladorFinanceiroH:hover,
#Login:hover {
  transform: scale(1.1);
}


.container3 {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  column-gap: 180px;
  background-image: url(../imagens_uvas/back.png);
  background-size: cover;
  height: 570px;
  padding-top: 40px;
}


.container3 .card {
  display: flex;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
}

.container3 .card .texto_card {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding: 50px 0 20px;
  background: linear-gradient(90deg, #264e0e 0%, #70b048 100%);
  background-size: auto;
  padding: 10px 20px;
  border-radius: 10px;
}



