body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
}

.logo img {
    display: flex;
    height: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    }

nav ul a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.login-btn {
    background: #fff;
    color: #4b1c6b;
    padding: 6px 16px;
    width: 150px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#ContatoH:hover,
#DashboardsH:hover,
#SimuladorFinanceiroH:hover,
#Login:hover {
  transform: scale(1.1);
}

/* FORMULÁRIO */

.formulario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 615px;
}

.card-form {
  background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  padding: 30px;
  border-radius: 20px;
  width: 1000px;
  color: white;
}

.card-form h2 {
  margin-bottom: 25px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.linha,
.linha4 {
  display: flex;
  gap: 20px; 
}

.campo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.campo label {
  font-weight: bold;
  margin-bottom: 6px;
}

.campo input,
.estado {
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
}

.endereco {
  flex: 2;
}

button {
  align-self: flex-end;
  width: 250px;
  height: 60px;
  border-radius: 5px;
  border: solid 2px #a3c86e;
  background-color: #a3c86e;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

button:hover {
  background-color: #89b85a;
}
