/* ===== Reset e corpo ===== */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ecebeb;
    color: #fff;
}

/* ===== Header ===== */
header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    background-color: #4b1c6b;
}

/* ===== Sidebar ===== */
.sidebar {
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
    padding-top: 60px;
}

.sidebar a {
    display: block;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* ====== DASHBOARD GRID LAYOUT ====== */
.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "ideal ideal fases"
    "chart chart2 sensor"
    "qtd historico historico";
  gap: 15px;
  padding: 5px;
  margin-left: 280px; 
  transform: scale(0.85);
  height: 300px;
}

.qtdalertas       { grid-area: qtd; }
.fasesrisco       { grid-area: fases; }
.ideal-info       { grid-area: ideal; }
.sensor-card      { grid-area: sensor; }
.kpi              { grid-area: kpi; }
.monitoring-Chart { grid-area: chart; }
.monitoring-Chart2 { grid-area: chart2; }
.historico        { grid-area: historico; }

/* ====== SENSOR ====== */
.sensor-card {
  background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #ffffff;
  border: 3px solid #000;
  border-radius: 8px;
  padding: 8px 16px;
  padding-top: 45px;
  justify-content: center;
  text-align: center;
  width: 340px;
}


.legend {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 6px;
}

.legend .item {
  display: flex;
  align-items: center;
  
  gap: 6px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.dot.ideal { background-color: #2db100; }
.dot.moderado { background-color: #b0b523; }
.dot.critico { background-color: #b42929; }

.values {
  display: flex;
  height: 80px;
}

.temp,
.umi {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: #111;
  border: 1px solid #000000 ;
}

.temp { background-color: #3db83d; }
.umi { background-color: #a6a923; }

.metricas {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

/* ====== MÉDIA 24H ====== */
.kpi {
   background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #ffffff;
 border: 3px solid #000;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
}

.kpi-header {
  text-align: center;
  font-weight: 600;
}

.kpi-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

/* ====== HISTÓRICO ====== */
.historico {
  background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #000000;
  border: 3px solid #000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 820px;
}

.historico-header {

  text-align: center;
  color: white;
  padding: 10px;
  border-bottom: 3px solid black;
}

.historico-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  padding: 8px;
  font-weight: 600;
}

.historico-row.title {
  background-color: #a5a5a5;
  font-weight: 700;
}

.historico-row.dados {
  background-color: #fff;
}

.historico-footer {
  text-align: center;
  font-weight: bold;
  padding: 8px;
  color: white;
  cursor: pointer;
}

/* ====== FASES DE RISCO ====== */
.fasesrisco {
   background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #ffffff;
  border: 3px solid #000;
  border-radius: 8px;
  padding: 10px;
  width: 350px;
}

.fasesrisco h2 {
  text-align: center;
  margin-bottom: 10px;
}

.fases {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  padding: 10px;
}

.qtdalertas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  font-size: 20px;
}

.qtdalertas-header {
   background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #ffffff;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.qtdmoderado {
background-color: yellow;
color: #000;
text-align: center;
width: 100%;
border-radius: 8px;
height: 100%;
}

.qtdcritico {
background-color: red;
color: #000;
text-align: center;
width: 100%;
border-radius: 8px;
height: 100%;
}

.qtdtotal {
background-color: rgb(255, 255, 255);
color: #ffffff;
text-align: center;
width: 100%;
border-radius: 8px;
height: 100%;
background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
}

/* ====== IDEAL INFO ====== */
.ideal-info {
   background: linear-gradient(90deg, #291339 0%, #3e1f69 100%);
  color: #ffffff;
  border: 3px solid #000;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 855px;
}

.ideal-info h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.fases2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
  border-radius: 8px;
  font-weight: 700;
  padding: 10px;
}

.fases2 div {
  text-align: center;
}

/* ====== CHART ====== */
canvas {
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 8px;
  width: 600px;
  height: 400px;
}

.info-box {
  display: flex;
  justify-content: center; /* centraliza horizontalmente no card */
  align-items: center;     /* alinha verticalmente texto e ícone */
  gap: 8px;                /* espaço entre texto e ícone */
  width: 100%;
  margin-top: 50px;
}

.info-icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  background-color: #a3c86e;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}
