body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ecebeb;
    color: #fff;
    line-height: 1.6;
}

/* ===== Header ===== */
header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #4b1c6b;
}

.logo img {
    display: flex;
    height: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.login-btn {
    background: #fff;
    color: #4b1c6b;
    padding: 6px 16px;
    width: 150px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#ContatoH:hover,
#DashboardsH:hover,
#SimuladorFinanceiroH:hover,
#Login:hover {
    transform: scale(1.1);
}


/* ===== Login Card ===== */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 35px 0;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card_card_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4b1c6b;
    border-radius: 30px;
    padding: 20px 30px;
    width: 380px;
}

.Login-titulo {
    font-size: 30px;
    color: white;
    margin-bottom: 40px;
}

/* ===== Formulario ===== */
.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campo,
.campo2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


#olhosenha {
    width: 25px;
    height: 25px;
    margin-left: 50px;
    position: absolute;
}

/* Labels acima do input */
.labelInput {
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Inputs */
input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 16px;
    color: #4f6d3c;
}

/* Botão centralizado */
.botao {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #a3c86e;
    background-color: #a3c86e;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.botao:hover {
    background-color: #95bc5f;
}

/* Texto auxiliar */
.textoAuxiliar {
    text-align: right;
    margin-bottom: 20px;
}

.Esqueceu {
    font-size: 14px;
    color: white;
    margin: 0;
}

.Cadastro {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.Cadastro a {
    color: white;
    text-decoration: none;
}

.Cadastro a:hover {
    text-decoration: underline;
}
